body{
    background-color: yellow;
}

.block {
    background-color: white;
    width: 1350px;
    height: 700px;
    margin: 200px auto;
}

.solid{
    color: white;
    border: white solid;
    width: 100px;
    height: 100px;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;

































